---
import Layout from "../layouts/Layout.astro";
import RequireAuth from "../components/RequireAuth.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout>
  <h1>Perfil</h1>
  <p>Contenido del perfil...</p>
</DashboardLayout>
