---
import Layout from "../layouts/Layout.astro";
import RequireAuth from "../components/RequireAuth.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout>
  <div class="mx-4">
    <h1 class="text-2xl font-semibold">Perfil</h1>
    <p>Contenido del perfil...</p>
  </div>
</DashboardLayout>
