---
import DashboardLayout from '../layouts/DashboardLayout.astro';
---

<DashboardLayout>
  <h1 class="text-3xl font-bold mb-6 text-gray-800">Usuarios y Roles</h1>
  <p class="text-xs text-gray-500">Administra cuentas: crear, modificar y eliminar</p>
  <fieldset class="border border-gray-300 p-4 rounded-md">
    <legend class="text-lg font-semibold text-gray-700">Tipo de Residuo</legend>
    
  </fieldset>
</DashboardLayout>
  