---
import Layout from "./Layout.astro";
import RequireAuth from "../components/RequireAuth.astro";
---

<Layout>
  <RequireAuth>
    <div class="flex min-h-screen">
      <!-- Menú lateral -->
      <aside class="w-64 bg-gray-100 p-6 flex flex-col sticky top-0 h-screen">
        <div class="flex flex-col justify-between">
          <h2 class="text-4xl font-bold mb-4">Dashboard</h2>
          <nav class="space-y-2">
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/dashboard">Inicio</a
            >
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/profile">Perfil</a
            >
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/new-collection">Solicitar recolección</a
            >
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/my-collections">Mis recolecciones</a
            >
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/report">Reporte</a
            >
            <a
              class="block px-4 py-2 rounded-md hover:bg-gray-400 hover:text-white active:bg-gray-600 active:text-white no-underline transition-colors"
              href="/users-roles">Usuarios y Roles</a
            >
          </nav>
          <!-- Botón logout pegado abajo -->
        </div>
        <button
          id="logoutBtn"
          class="mt-auto px-4 py-2 rounded font-semibold hover:bg-red-600 hover:text-white transition-colors"
        >
          Cerrar sesión
        </button>
      </aside>

      <!-- Contenido dinámico -->
      <main class="flex-1 p-6">
        <slot />
      </main>
    </div>

    <script type="module">
      const logoutBtn = document.getElementById("logoutBtn");
      logoutBtn?.addEventListener("click", () => {
        localStorage.removeItem("userEmail");
        localStorage.removeItem("userToken");
        location.replace("/login");
      });
    </script>
  </RequireAuth>
</Layout>
